body{
    background-color: rgb(48, 73, 216);
    font: normal 15px Tahoma ;
    text-align: center;
}

header{
    color: white;
    
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.459) 5PX 5PX 10PX ;
}

div{
    text-align: center;
    padding: 15px;
}

footer{
    color: white;
    font-style: italic;
}
